.card-plain {
    background: transparent;
    box-shadow: none;

    .card-header:not(.card-avatar) {
        margin-left: 0;
        margin-right: 0;
    }

    .card-body {
        padding-left: 5px;
        padding-right: 5px;
    }

    .card-header-image {
        margin: 0 !important;
        border-radius: $border-radius-large;

        img {
          border-radius: $border-radius-large;
        }
    }
    .card-footer {
        padding-left: 5px;
        padding-right: 5px;
        background-color: transparent;
    }
}

.card-label {
    background:#b0c4de;
    border-radius: 4px 0;
    border: 1px solid #DFDFDF;
    border-color: black;
　　border-style: solid dashed;
    border-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    height: 30px;
    /*margin: 1rem;*/
    /*position: relative;*/
    width: 100px;
}

